.hilite{
	color: white;
	background-color:#00FF00;
}
div{
	background-color: #00FFCC;
	width:auto;
height:auto;
}
a:hover{
	cursor:pointer;
}

.gang{
	display: inline;
	padding: 10px;
	background-color:orange;
}
ul{
padding:20px;
font-size:15px
}
body{
border: 5px solid orange;
margin:100px;
width:auto;
height:auto;

background-repeat:no-repeat;
background-color:#2C2C2C;

}

}
.member {
max-width:200px;
max-height:200px;
width:auto;
height:auto;
float:left;
}
.bio {

float:right;
width:800px;
height:600px;
overflow:scroll;
}
h1{
font-family: Magneto;
background-color: #00FF00;
text-align:center

}
p{
padding:10px;
font-size:18px;
font-family:Garamond;

}
.badguy{
display:inline;
height:auto;
width:auto;
max-width:200px;
max-height:200px;
}
h6{
color:white;
}
h3{
padding:30px
}
#top{
height:auto;
width:auto;
max-width:500px;
max-height:500px;
}
.monster{
display:inline;
height:auto;
width:auto;
max-width:300px;
max-height:300px;
}
.monsters{
overflow:scroll;
}

